<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views ! Et une autre modification, et encore</h1>
    <a href="/gossips/new/">Créer un nouveau potin</a>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>