<html>
  <head>
  	<title>The Gossip Project</title>
  </head>
  <body>
    <h1>Voici la page du potin n° <%= gossip_id %></h1>
    <p>Son auteur : <%= wanted_gossip.author %></p>
    <p>Son contenu : <%= wanted_gossip.content %></p>
    <p>Retour à la page d'accueil des potins <a href ='/'>Ici</a>.</p>
  </body>
</html>
